
body{
  margin: 0px;
  text-align: center ;
font-family: 'Merriweather', serif;
font-size: 1.3em;
}
h1{
  color:#66BFBF;
  font-size: 3.5em;
  margin: 0em;
  position: relative;
  padding-top: 80px;
font-family: 'Sacramento', cursive;
}
h2{
  color:#66BFBF;
  font-weight:normal;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}
hr{
border: dotted  #EAF6F6 6px ;
border-bottom: none;
width:6%;
margin: 80px auto;
}
a{
  font-size: 16px;
  color:#11999E;
  margin:20px 20px;
  text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    }

a:hover{
      color:#EAF6F6;
      font-size: 14px;
    }

.top{
  background-color: #E4F9F5;


}
.mountain{
  width:500px;
height:380px;
}
.middle {



}
.contact-me{


}
.bottom{

background-color: #66BFBF;
margin: 40px auto 0px;

padding-bottom: 20px;
}
.top-cloud{
position:absolute;
right: 250px;
}
.bottom-cloud{
  position: absolute;
  left:200px;
}
.image-one{
  margin-top: 50px;
  width:200px;
}
.image-two{
  width:300px;

}
.image-three{
  width:200px;

}
.image-four{
  width:200px;
}
.skills{
margin: 100px auto 100px auto;

}
.skill-row{
  margin: 100px auto 100px auto;
}
.btn {
  background: #49d8eb;
  background-image: -webkit-linear-gradient(top, #49d8eb, #379ebd);
  background-image: -moz-linear-gradient(top, #49d8eb, #379ebd);
  background-image: -ms-linear-gradient(top, #49d8eb, #379ebd);
  background-image: -o-linear-gradient(top, #49d8eb, #379ebd);
  background-image: linear-gradient(to bottom, #49d8eb, #379ebd);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3ec7ac;
  background-image: -webkit-linear-gradient(top, #3ec7ac, #157d68);
  background-image: -moz-linear-gradient(top, #3ec7ac, #157d68);
  background-image: -ms-linear-gradient(top, #3ec7ac, #157d68);
  background-image: -o-linear-gradient(top, #3ec7ac, #157d68);
  background-image: linear-gradient(to bottom, #3ec7ac, #157d68);
  text-decoration: none;
}
.copyright{
  color:#EAF6F6;
  font-size: 12px;
}
